In [1]:
import pandas as pd
from sqlalchemy import inspect, create_engine

In [2]:
url = 'localhost'
port = 5432
user = 'postgres'
pswd = 'postgres'
db = 'project4'

In [3]:
connection_string = f'postgresql://{user}:{pswd}@{url}:{port}/{db}'

engine = create_engine(connection_string,
                       echo=False)        

engine

Engine(postgresql://postgres:***@localhost:5432/project4)

In [4]:
insp = inspect(engine)

In [5]:
insp.get_table_names()

['data_div',
 'clinics',
 'crimes',
 'hcsbdp',
 'div',
 'disp',
 'hcsbhp',
 'hddrr',
 'hdszr',
 'init',
 'intake',
 'sent']

In [6]:
conn = engine.connect()

In [7]:
conn.execute("SELECT * FROM crimes;")

In [12]:
conn.execute("SELECT * FROM clinics;")

In [24]:
conn.execute("SELECT * FROM HCSBHP;")

In [22]:
conn.execute("SELECT * FROM HDDRR;")

In [23]:
conn.execute("SELECT * FROM HDSZR;")

In [8]:
pd.DataFrame(insp.get_columns('crimes'))

,name,type,nullable,default,autoincrement,comment
0,id,INTEGER,False,None,False,None
1,case_number,VARCHAR,True,None,False,None
2,date,DATE,True,None,False,None
3,block,VARCHAR,True,None,False,None
4,iucr,VARCHAR,True,None,False,None
5,primary_type,VARCHAR,True,None,False,None
6,description,VARCHAR,True,None,False,None
7,location_description,VARCHAR,True,None,False,None
8,arrest,BOOLEAN,True,None,False,None
9,domestic,BOOLEAN,True,None,False,None
10,beat,INTEGER,True,None,False,None
11,district,INTEGER,True,None,False,None
12,ward,INTEGER,True,None,False,None
13,community_area,INTEGER,True,None,False,None
14,fbi_code,VARCHAR,True,None,False,None
15,x_coordinate,INTEGER,True,None,False,None
16,y_coordinate,INTEGER,True,None,False,None
17,year,INTEGER,True,None,False,None
18,updated_on,DATE,True,None,False,None
19,latitude,NUMERIC,True,None,False,None
20,longitude,NUMERIC,True,None,False,None
21,location,VARCHAR,True,None,False,None
22,computed_region_awaf_s7ux,INTEGER,True,None,False,None
23,computed_region_6mkv_f3dw,INTEGER,True,None,False,None
24,computed_region_vrxf_vc4k,INTEGER,True,None,False,None
25,computed_region_bdys_3d7i,INTEGER,True,None,False,None
26,computed_region_43wa_7qmu,INTEGER,True,None,False,None
27,computed_region_rpca_8um6,INTEGER,True,None,False,None
28,computed_region_d9mm_jgwp,INTEGER,True,None,False,None
29,computed_region_d3ds_rm58,INTEGER,True,None,False,None

In [25]:
pd.DataFrame(insp.get_columns('clinics'))

,name,type,nullable,default,autoincrement,comment
0,organization,VARCHAR,True,None,False,None
1,site_name,VARCHAR,True,None,False,None
2,site_type,VARCHAR,True,None,False,None
3,address,VARCHAR,True,None,False,None
4,zip,VARCHAR,True,None,False,None
5,main_phone,VARCHAR,True,None,False,None
6,service_request_phone,VARCHAR,True,None,False,None
7,evening_hours_availability,BOOLEAN,True,None,False,None
8,evening_hours_detail,VARCHAR,True,None,False,None
9,weekend_hours_availability,BOOLEAN,True,None,False,None
10,ticc_site,VARCHAR,True,None,False,None
11,all_community_areas_served,VARCHAR,True,None,False,None
12,wards_served,VARCHAR,True,None,False,None
13,police_districts_served,VARCHAR,True,None,False,None
14,accepts_uninsured_patients,BOOLEAN,True,None,False,None
15,sliding_scale_fees,VARCHAR,True,None,False,None
16,insurance_accepted,VARCHAR,True,None,False,None
17,age_range_served,VARCHAR,True,None,False,None
18,primary_care_availability,BOOLEAN,True,None,False,None
19,bhs_service_availability_primary_care,VARCHAR,True,None,False,None
20,telehealth_services_availability,BOOLEAN,True,None,False,None
21,other_languages,VARCHAR,True,None,False,None
22,language_line_availability,BOOLEAN,True,None,False,None
23,behavioral_services_types,VARCHAR,True,None,False,None
24,crisis_services,BOOLEAN,True,None,False,None
25,mental_health_services_type_special_needs_avai...,VARCHAR,True,None,False,None
26,school_based_services_availability,BOOLEAN,True,None,False,None
27,grief_services_availability,BOOLEAN,True,None,False,None
28,first_episode_psychosis_programming_availability,BOOLEAN,True,None,False,None
29,substance_use_services_availability,BOOLEAN,True,None,False,None
30,location,VARCHAR,True,None,False,None
31,computed_region_rpca_8um6,INTEGER,True,None,False,None
32,computed_region_vrxf_vc4k,INTEGER,True,None,False,None
33,computed_region_6mkv_f3dw,INTEGER,True,None,False,None
34,computed_region_bdys_3d7i,INTEGER,True,None,False,None
35,computed_region_43wa_7qmu,INTEGER,True,None,False,None
36,weekend_hours_detail,VARCHAR,True,None,False,None
37,grief_bereavement_services_types,VARCHAR,True,None,False,None
38,substance_use_services_type,VARCHAR,True,None,False,None
39,mar_medications_opioid,VARCHAR,True,None,False,None
40,harm_reduction_services,VARCHAR,True,None,False,None
41,service_request_alternative_availability,BOOLEAN,True,None,False,None
42,service_request_alternative_detail,VARCHAR,True,None,False,None
43,hours,VARCHAR,True,None,False,None
44,mental_health_services_type_special_needs_detail,VARCHAR,True,None,False,None
45,ticc_areas_served,VARCHAR,True,None,False,None
46,mar_medications_alcohol,VARCHAR,True,None,False,None
47,crisis_intake_phone,VARCHAR,True,None,False,None
48,crisis_services_hours,VARCHAR,True,None,False,None
49,crisis_services_types,VARCHAR,True,None,False,None
50,first_episode_psychosis_programming_detail,VARCHAR,True,None,False,None

In [26]:
pd.DataFrame(insp.get_columns('HCSBHP')) #Please let me know why error occurs here.

NoSuchTableError: HCSBHP

In [28]:
pd.DataFrame(insp.get_columns('HDDRR'))

NoSuchTableError: HDDRR

In [29]:
pd.DataFrame(insp.get_columns('HDSZR'))

NoSuchTableError: HDSZR

In [17]:
#convert it to a dataframe #crime data needs to be re-copied
crimes = pd.DataFrame(conn.execute("SELECT * FROM crimes;"))
crimes.head()

Empty DataFrame
Columns: []
Index: []

In [19]:
sql = """
SELECT *
FROM clinics;
"""

pd.read_sql(sql, engine).head()

,organization,site_name,site_type,address,zip,main_phone,service_request_phone,evening_hours_availability,evening_hours_detail,weekend_hours_availability,...,service_request_alternative_availability,service_request_alternative_detail,hours,mental_health_services_type_special_needs_detail,ticc_areas_served,mar_medications_alcohol,crisis_intake_phone,crisis_services_hours,crisis_services_types,first_episode_psychosis_programming_detail
0,Howard Brown Health,Howard Brown Health 55th St.,Federally Qualified Health Center (FQHC),1525 E 55th St.,60637,773-388-1600,773-388-1600,True,T/TH open until 8pm,False,...,None,None,None,None,None,None,None,None,None,None
1,Access Community Health Network,ACCESS Humboldt Park Family Health Center,Federally Qualified Health Center (FQHC),3202 W. North Ave,60647,773-278-1880,773-278-1880,False,Every other Saturday; 9am-1pm,True,...,None,None,None,None,None,None,None,None,None,None
2,PrimeCare,Northwest Health Center,Federally Qualified Health Center (FQHC),1649 North Pulaski Road,60639,773-278-6868,773-278-6868,True,"Wednesday: 8:00 AM to 8:00 PM,",True,...,True,URL: https://www.primecarehealth.org/appointments,Sunday: CLOSED Monday: 8:30 AM to 5:00 PM Tues...,BHC services,None,None,None,None,None,None
3,Catholic Charities,Catholic Charities- Englewood,Community Mental Health Center (CMHC),"6202 S. Halsted, Chicago",60621,312-655-7725,312-655-7725,True,M-F 8am-8pm,False,...,True,Email: counselingintake@catholiccharities.net,"Monday - Friday, 8am - 8pm","Bilingual therapist and care coordinator, dome...",Englewood;West Englewood;,None,None,None,None,None
4,BUILD inc,BUILD inc,Community Based Organization (CBO),5100 w. Harrison,60651,773-227-2880,773-227-2880,True,On a need be basis,True,...,True,URL: https://fs2.formsite.com/WnAOuK/rrshgvtxx...,"Monday - Friday, 9 - 5pm and later with prior...",We do not offer specific programming however w...,Austin;Humboldt Park;West Garfield Park;,None,None,None,None,None

In [20]:
clinics = conn.execute("SELECT * FROM clinics;")
clinics.head() #what is wring here?

AttributeError: 'LegacyCursorResult' object has no attribute 'head'

In [27]:
sql = """
SELECT *
FROM HCSBHP;
"""

pd.read_sql(sql, engine).head()

          se           g             l       a     p          d          v
0   9.118220   1714000-4  neighborhood  HCSBHP  None  2021-2022  84.429441
1  17.211785  1714000-40  neighborhood  HCSBHP  None  2021-2022  62.397379
2  15.910922  1714000-41  neighborhood  HCSBHP  None  2021-2022  82.894954
3  16.159595  1714000-42  neighborhood  HCSBHP  None  2021-2022  82.165229
4  14.139089   1714000-1  neighborhood  HCSBHP  None  2021-2022  49.811887

In [30]:
sql = """
SELECT *
FROM HDDRR;
"""

pd.read_sql(sql, engine).head()

         se      g    l      a     p     d      v
0  4.846939  60607  zip  HDDRR  None  2017   44.9
1  1.785714  60608  zip  HDDRR  None  2017   23.9
2  2.551020  60609  zip  HDDRR  None  2017   35.5
3  6.275510  60612  zip  HDDRR  None  2017  115.4
4  1.505102  60616  zip  HDDRR  None  2017   12.0

In [31]:
sql = """
SELECT *
FROM HDSZR;
"""

pd.read_sql(sql, engine).head()

          se      g    l      a     p     d      v
0   4.234694  60601  zip  HDSZR  None  2017   16.7
1  18.571429  60606  zip  HDSZR  None  2017   80.8
2   7.678571  60607  zip  HDSZR  None  2017  106.6
3   1.913265  60608  zip  HDSZR  None  2017   28.5
4   2.678571  60609  zip  HDSZR  None  2017   42.7