In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [25]:
li = []
for file in ['CZA','CZB','CZD','CZH','CZL',
            'CZM','CZO','CZP','CZR','CZS',
            'CZT','CZU','CZV','HCSBHP',
             'HCSSPDP','HDBHR','HDDRR','HDMDR','HDSZR',
            'MEODR','UNS','YRDEP','YRSUP']:
    li.append(pd.read_pickle(f'../data/{file}.pkl', compression='zip'))
li

[    se        g      l    a p           d             v
 0  NaN    60601    zip  CZA     2018-2022     66.454485
 1  NaN    60602    zip  CZA     2018-2022     11.133545
 2  NaN    60603    zip  CZA     2018-2022     10.292674
 3  NaN    60604    zip  CZA     2018-2022      7.319068
 4  NaN    60606    zip  CZA     2018-2022     22.908756
 ..  ..      ...    ...  ... ..        ...           ...
 0  NaN  1714000  place  CZA          1989  37621.000000
 0  NaN  1714000  place  CZA          1988  35994.000000
 0  NaN  1714000  place  CZA          1987  34180.000000
 0  NaN  1714000  place  CZA          1986  33537.000000
 0  NaN  1714000  place  CZA          1985  29104.000000

 [19021 rows x 7 columns],
     se        g      l    a p           d             v
 0  NaN    60601    zip  CZB     2018-2022     34.320927
 1  NaN    60602    zip  CZB     2018-2022      5.314324
 2  NaN    60603    zip  CZB     2018-2022      6.323168
 3  NaN    60604    zip  CZB     2018-2022      4.485415
 4  NaN    60606    zip  CZB     2018-2022     16.307285
 ..  ..      ...    ...  ... ..        ...           ...
 0  NaN  1714000  place  CZB          1989  51625.000000
 0  NaN  1714000  place  CZB          1988  52097.000000
 0  NaN  1714000  place  CZB          1987  50950.000000
 0  NaN  1714000  place  CZB          1986  56299.000000
 0  NaN  1714000  place  CZB          1985  52677.000000

 [19016 rows x 7 columns],
              se           g             l    a p           d              v
 0           NaN       60601           zip  CZD     2018-2022      24.634871
 1           NaN       60602           zip  CZD     2018-2022       4.378444
 2           NaN       60603           zip  CZD     2018-2022       3.745708
 3           NaN       60604           zip  CZD     2018-2022       2.683766
 4           NaN       60606           zip  CZD     2018-2022       9.396802
 ..          ...         ...           ...  ... ..        ...            ...
 931   35.560128  1714000-75  neighborhood  CZD     2001-2005    1521.000000
 932   16.589488  1714000-76  neighborhood  CZD     2001-2005     320.000000
 933   32.495748  1714000-77  neighborhood  CZD     2001-2005    1397.000000
 934    4.758755   1714000-9  neighborhood  CZD     2001-2005      27.000000
 935  576.503293     1714000         place  CZD     2001-2005  246637.233122

 [18789 rows x 7 columns],
     se        g      l    a p           d           v
 0  NaN    60601    zip  CZH     2018-2022    2.668703
 1  NaN    60602    zip  CZH     2018-2022    0.329276
 2  NaN    60603    zip  CZH     2018-2022    0.676879
 3  NaN    60604    zip  CZH     2018-2022    0.461857
 4  NaN    60606    zip  CZH     2018-2022    0.900524
 ..  ..      ...    ...  ... ..        ...         ...
 0  NaN  1714000  place  CZH          1989  742.000000
 0  NaN  1714000  place  CZH          1988  660.000000
 0  NaN  1714000  place  CZH          1987  687.000000
 0  NaN  1714000  place  CZH          1986  744.000000
 0  NaN  1714000  place  CZH          1985  666.000000

 [18589 rows x 7 columns],
     se        g      l    a p           d              v
 0  NaN    60601    zip  CZL     2018-2022    1479.192448
 1  NaN    60602    zip  CZL     2018-2022     243.253990
 2  NaN    60603    zip  CZL     2018-2022     179.016338
 3  NaN    60604    zip  CZL     2018-2022     127.984247
 4  NaN    60606    zip  CZL     2018-2022     430.360853
 ..  ..      ...    ...  ... ..        ...            ...
 0  NaN  1714000  place  CZL          1989  131311.000000
 0  NaN  1714000  place  CZL          1988  129484.000000
 0  NaN  1714000  place  CZL          1987  119926.000000
 0  NaN  1714000  place  CZL          1986  122819.000000
 0  NaN  1714000  place  CZL          1985  122389.000000

 [19039 rows x 7 columns],
               se           g             l    a p           d              v
 0            NaN       60601           zip  CZM     2018-2022    1736.695116
 1            NaN       60602           zip  CZM     2018-2022     282.027337
 2            NaN       60603           zip  CZM     2018-2022     222.275814
 3            NaN       60604           zip  CZM     2018-2022     158.659473
 4            NaN       60606           zip  CZM     2018-2022     529.728256
 ..           ...         ...           ...  ... ..        ...            ...
 873    68.321541  1714000-75  neighborhood  CZM     2001-2005    5713.000000
 874    63.365012  1714000-76  neighborhood  CZM     2001-2005    4778.000000
 875    93.340582  1714000-77  neighborhood  CZM     2001-2005   10734.000000
 876    23.851087   1714000-9  neighborhood  CZM     2001-2005     698.000000
 877  1120.839852     1714000         place  CZM     2001-2005  914220.289086

 [17006 rows x 7 columns],
     se        g      l    a p           d            v
 0  NaN    60601    zip  CZO     2018-2022     2.336624
 1  NaN    60602    zip  CZO     2018-2022     0.407830
 2  NaN    60603    zip  CZO     2018-2022     0.801142
 3  NaN    60604    zip  CZO     2018-2022     0.559461
 4  NaN    60606    zip  CZO     2018-2022     1.278869
 ..  ..      ...    ...  ... ..        ...          ...
 0  NaN  1714000  place  CZO          1989  2561.000000
 0  NaN  1714000  place  CZO          1988  2891.000000
 0  NaN  1714000  place  CZO          1987  2804.000000
 0  NaN  1714000  place  CZO          1986  2625.000000
 0  NaN  1714000  place  CZO          1985  2026.000000

 [18540 rows x 7 columns],
     se        g      l    a p           d              v
 0  NaN    60601    zip  CZP     2018-2022    1587.862856
 1  NaN    60602    zip  CZP     2018-2022     256.744150
 2  NaN    60603    zip  CZP     2018-2022     194.944386
 3  NaN    60604    zip  CZP     2018-2022     139.291019
 4  NaN    60606    zip  CZP     2018-2022     471.320510
 ..  ..      ...    ...  ... ..        ...            ...
 0  NaN  1714000  place  CZP          1989  228865.000000
 0  NaN  1714000  place  CZP          1988  226630.000000
 0  NaN  1714000  place  CZP          1987  210642.000000
 0  NaN  1714000  place  CZP          1986  227668.000000
 0  NaN  1714000  place  CZP          1985  219981.000000

 [18100 rows x 7 columns],
     se        g      l    a p           d             v
 0  NaN    60601    zip  CZR     2018-2022     66.536572
 1  NaN    60602    zip  CZR     2018-2022     11.472847
 2  NaN    60603    zip  CZR     2018-2022     14.627003
 3  NaN    60604    zip  CZR     2018-2022     10.372778
 4  NaN    60606    zip  CZR     2018-2022     31.430881
 ..  ..      ...    ...  ... ..        ...           ...
 0  NaN  1714000  place  CZR          1989  31600.000000
 0  NaN  1714000  place  CZR          1988  28987.000000
 0  NaN  1714000  place  CZR          1987  29836.000000
 0  NaN  1714000  place  CZR          1986  30927.000000
 0  NaN  1714000  place  CZR          1985  26910.000000

 [19006 rows x 7 columns],
     se        g      l    a p           d          v
 0  NaN    60601    zip  CZS     2018-2022  14.792208
 1  NaN    60602    zip  CZS     2018-2022   2.535577
 2  NaN    60603    zip  CZS     2018-2022   1.980776
 3  NaN    60604    zip  CZS     2018-2022   1.379017
 4  NaN    60606    zip  CZS     2018-2022   3.431289
 ..  ..      ...    ...  ... ..        ...        ...
 0  NaN  1714000  place  CZS          1989   0.000000
 0  NaN  1714000  place  CZS          1988   0.000000
 0  NaN  1714000  place  CZS          1987   0.000000
 0  NaN  1714000  place  CZS          1986   0.000000
 0  NaN  1714000  place  CZS          1985   0.000000

 [18832 rows x 7 columns],
     se        g      l    a p           d             v
 0  NaN    60601    zip  CZT     2018-2022     72.947507
 1  NaN    60602    zip  CZT     2018-2022      7.922559
 2  NaN    60603    zip  CZT     2018-2022      9.008140
 3  NaN    60604    zip  CZT     2018-2022      6.410191
 4  NaN    60606    zip  CZT     2018-2022     23.904848
 ..  ..      ...    ...  ... ..        ...           ...
 0  NaN  1714000  place  CZT          1989  45929.000000
 0  NaN  1714000  place  CZT          1988  45049.000000
 0  NaN  1714000  place  CZT          1987  39766.000000
 0  NaN  1714000  place  CZT          1986  48550.000000
 0  NaN  1714000  place  CZT          1985  44915.000000

 [19022 rows x 7 columns],
              se            g             l    a p           d        v
 0      6.642523  17031839600    tract-2010  CZU     2012-2016     57.0
 1     12.242304  17031260800    tract-2010  CZU     2012-2016    204.0
 2      7.514260  17031301802    tract-2010  CZU     2012-2016     65.0
 3      5.257923  17031210601    tract-2010  CZU     2012-2016     32.0
 4      3.162278  17031835700    tract-2010  CZU     2012-2016     12.0
 ..          ...          ...           ...  ... ..        ...      ...
 873   19.383441   1714000-75  neighborhood  CZU     2001-2005    443.0
 874    5.161952   1714000-76  neighborhood  CZU     2001-2005     31.0
 875   18.425073   1714000-77  neighborhood  CZU     2001-2005    388.0
 876    3.796606    1714000-9  neighborhood  CZU     2001-2005     15.0
 877  244.956842      1714000         place  CZU     2001-2005  71894.0

 [10535 rows x 7 columns],
     se        g      l    a p           d             v
 0  NaN    60601    zip  CZV     2018-2022    148.832259
 1  NaN    60602    zip  CZV     2018-2022     25.283188
 2  NaN    60603    zip  CZV     2018-2022     27.331428
 3  NaN    60604    zip  CZV     2018-2022     19.368454
 4  NaN    60606    zip  CZV     2018-2022     58.407745
 ..  ..      ...    ...  ... ..        ...           ...
 0  NaN  1714000  place  CZV          1990  79140.000000
 0  NaN  1714000  place  CZV     1985-1989  64797.800000
 0  NaN  1714000  place  CZV          1989  69963.000000
 0  NaN  1714000  place  CZV          1988  65641.000000
 0  NaN  1714000  place  CZV          1987  64703.000000

 [18098 rows x 7 columns],
            se           g             l       a  p          d          v
 0    9.118220   1714000-4  neighborhood  HCSBHP     2021-2022  84.429441
 1   17.211785  1714000-40  neighborhood  HCSBHP     2021-2022  62.397379
 2   15.910922  1714000-41  neighborhood  HCSBHP     2021-2022  82.894954
 3   16.159595  1714000-42  neighborhood  HCSBHP     2021-2022  82.165229
 4   14.139089   1714000-1  neighborhood  HCSBHP     2021-2022  49.811887
 ..        ...         ...           ...     ... ..        ...        ...
 0    6.345233     1714000         place  HCSBHP  Z       2020  49.002843
 0   12.397959     1714000         place  HCSBHP  Z       2018  50.700000
 0   14.464286     1714000         place  HCSBHP  Z       2017  43.100000
 0   14.515306     1714000         place  HCSBHP  Z       2016  72.400000
 0   17.678571     1714000         place  HCSBHP  Z       2015  46.000000

 [189 rows x 7 columns],
           se           g             l        a  p          d          v
 0   1.493571  1714000-35  neighborhood  HCSSPDP     2021-2022   3.120683
 1   9.531264  1714000-37  neighborhood  HCSSPDP     2021-2022  27.763914
 2   4.983833  1714000-38  neighborhood  HCSSPDP     2021-2022  13.669206
 3   2.875402  1714000-39  neighborhood  HCSSPDP     2021-2022   6.371035
 4   3.309448   1714000-4  neighborhood  HCSSPDP     2021-2022  10.243905
 ..       ...         ...           ...      ... ..        ...        ...
 0   0.763609     1714000         place  HCSSPDP  Z       2020   6.180849
 0   0.841837     1714000         place  HCSSPDP  Z       2018   3.600000
 0   0.484694     1714000         place  HCSSPDP  Z       2017   1.600000
 0   0.663265     1714000         place  HCSSPDP  Z       2016   2.300000
 0   0.561224     1714000         place  HCSSPDP  Z       2015   1.600000

 [232 rows x 7 columns],
             se        g      l      a  p     d      v
 0    10.586735    60601    zip  HDBHR     2017   85.4
 1   122.270408    60602    zip  HDBHR     2017  400.5
 2   493.877551    60603    zip  HDBHR     2017  990.3
 3   178.163265    60604    zip  HDBHR     2017  674.2
 4   132.423469    60606    zip  HDBHR     2017  488.3
 ..         ...      ...    ...    ... ..   ...    ...
 0     1.862245  1714000  place  HDBHR  S  2014   96.3
 0     1.811224  1714000  place  HDBHR  S  2013   90.9
 0     1.938776  1714000  place  HDBHR  S  2012  103.3
 0     1.887755  1714000  place  HDBHR  S  2011   98.1
 0     1.938776  1714000  place  HDBHR  S  2010  102.8

 [488 rows x 7 columns],
           se        g      l      a  p     d      v
 0   4.846939    60607    zip  HDDRR     2017   44.9
 1   1.785714    60608    zip  HDDRR     2017   23.9
 2   2.551020    60609    zip  HDDRR     2017   35.5
 3   6.275510    60612    zip  HDDRR     2017  115.4
 4   1.505102    60616    zip  HDDRR     2017   12.0
 ..       ...      ...    ...    ... ..   ...    ...
 0   0.816327  1714000  place  HDDRR  S  2014   18.3
 0   0.790816  1714000  place  HDDRR  S  2013   16.7
 0   0.969388  1714000  place  HDDRR  S  2012   25.5
 0   0.892857  1714000  place  HDDRR  S  2011   21.4
 0   0.841837  1714000  place  HDDRR  S  2010   20.1

 [453 rows x 7 columns],
            se        g      l      a  p     d      v
 0    7.729592    60601    zip  HDMDR     2017   35.1
 1   51.147959    60604    zip  HDMDR     2017  167.1
 2   33.443878    60606    zip  HDMDR     2017  105.5
 3    7.576531    60607    zip  HDMDR     2017   99.5
 4    2.576531    60608    zip  HDMDR     2017   52.8
 ..        ...      ...    ...    ... ..   ...    ...
 0    1.096939  1714000  place  HDMDR  S  2014   33.1
 0    1.045918  1714000  place  HDMDR  S  2013   30.2
 0    1.096939  1714000  place  HDMDR  S  2012   33.2
 0    1.071429  1714000  place  HDMDR  S  2011   31.3
 0    1.147959  1714000  place  HDMDR  S  2010   35.8

 [480 rows x 7 columns],
            se        g      l      a  p     d      v
 0    4.234694    60601    zip  HDSZR     2017   16.7
 1   18.571429    60606    zip  HDSZR     2017   80.8
 2    7.678571    60607    zip  HDSZR     2017  106.6
 3    1.913265    60608    zip  HDSZR     2017   28.5
 4    2.678571    60609    zip  HDSZR     2017   42.7
 ..        ...      ...    ...    ... ..   ...    ...
 0    1.020408  1714000  place  HDSZR  S  2014   28.3
 0    1.020408  1714000  place  HDSZR  S  2013   28.9
 0    1.020408  1714000  place  HDSZR  S  2012   29.1
 0    1.045918  1714000  place  HDSZR  S  2011   31.3
 0    1.096939  1714000  place  HDSZR  S  2010   33.0

 [462 rows x 7 columns],
             se           g             l      a  p     d      v
 0    29.476182  1714000-35  neighborhood  MEODR     2020   40.4
 1    68.833046  1714000-36  neighborhood  MEODR     2020   89.8
 2   101.803148  1714000-37  neighborhood  MEODR     2020  122.3
 3    35.193170  1714000-38  neighborhood  MEODR     2020   72.9
 4    15.657372  1714000-39  neighborhood  MEODR     2020   20.5
 ..         ...         ...           ...    ... ..   ...    ...
 0          NaN     1714000         place  MEODR  S  2020    0.0
 0     0.255102     1714000         place  MEODR  S  2019    1.9
 0     0.229592     1714000         place  MEODR  S  2018    1.3
 0     0.229592     1714000         place  MEODR  S  2017    1.3
 0     0.229592     1714000         place  MEODR  S  2016    1.3

 [445 rows x 7 columns],
            se           g             l    a  p          d         v
 0    0.974375       60601           zip  UNS     2017-2021  2.577633
 1    2.710101       60602           zip  UNS     2017-2021  0.000000
 2    3.007506       60603           zip  UNS     2017-2021  8.156863
 3    4.431748       60604           zip  UNS     2017-2021  0.727802
 4    1.401819       60606           zip  UNS     2017-2021  3.790176
 ..        ...         ...           ...  ... ..        ...       ...
 928  3.114989  1714000-76  neighborhood  UNS  S  2008-2012  4.008537
 929  1.982079  1714000-77  neighborhood  UNS  S  2008-2012  3.451874
 930  2.342471   1714000-9  neighborhood  UNS  S  2008-2012  1.135135
 931  0.149655     1714000         place  UNS  S  2008-2012  2.536908
 0    0.071846     1714000         place  UNS  S       2012  2.701484

 [59159 rows x 7 columns],
           se        g      l      a  p     d      v
 0   0.047616  1714000  place  YRDEP     2021  43.03
 0   2.091837  1714000  place  YRDEP     2019  38.20
 0   1.275510  1714000  place  YRDEP     2017  34.70
 0   1.658163  1714000  place  YRDEP     2013  32.50
 0   1.607143  1714000  place  YRDEP     2011  30.30
 ..       ...      ...    ...    ... ..   ...    ...
 0   3.928571  1714000  place  YRDEP  L  2011  43.10
 0   5.586735  1714000  place  YRDEP  L  2009  43.60
 0   7.066327  1714000  place  YRDEP  L  2007  54.00
 0   8.979592  1714000  place  YRDEP  L  2005  57.60
 0   6.658163  1714000  place  YRDEP  L  2003  47.00

 [91 rows x 7 columns],
           se        g      l      a  p     d      v
 0   0.268574  1714000  place  YRSUP     2021   1.76
 0   0.586735  1714000  place  YRSUP     2019   3.40
 0   0.841837  1714000  place  YRSUP     2017   5.10
 0   0.408163  1714000  place  YRSUP     2013   3.50
 0   0.943878  1714000  place  YRSUP     2011   5.60
 ..       ...      ...    ...    ... ..   ...    ...
 0   2.525510  1714000  place  YRSUP  L  2013  11.90
 0   2.882653  1714000  place  YRSUP  L  2011   9.90
 0   4.081633  1714000  place  YRSUP  L  2009   8.70
 0   4.770408  1714000  place  YRSUP  L  2007  13.30
 0   4.974490  1714000  place  YRSUP  L  2003  11.10

 [69 rows x 7 columns]]

In [28]:
df = pd.concat(li, axis = 0)

In [30]:
df.loc[df['g'] == '60601','a'].value_counts()

UNS      86
CZO      22
CZT      22
CZS      22
CZB      22
CZA      22
CZL      22
CZH      22
CZD      22
CZR      22
CZP      21
CZV      21
HDBHR     7
HDMDR     7
HDSZR     7
CZM       3
HDDRR     1
Name: a, dtype: int64

In [14]:
unins = pd.read_pickle('../data/UNS.pkl', compression='zip')

In [15]:
cr_agg_ass = pd.read_pickle('../data/CZA.pkl', compression='zip')

In [16]:
cr_burg = pd.read_pickle('../data/CZB.pkl', compression='zip')

In [17]:
cr_drugs = pd.read_pickle('../data/CZD.pkl', compression='zip')

In [18]:
cr_hom = pd.read_pickle('../data/CZH.pkl', compression='zip')

In [ ]:
cr_theft = pd.read_pickle('../data/CZL.pkl', compression='zip')

In [ ]:
cr_maj = pd.read_pickle('../data/CZM.pkl', compression='zip')

In [ ]:
cr_arson = pd.read_pickle('../data/CZO.pkl', compression='zip')

In [ ]:
cr_prop = pd.read_pickle('../data/CZP.pkl', compression='zip')

In [ ]:
cr_robb = pd.read_pickle('../data/CZR.pkl', compression='zip')

In [ ]:
cr_sex = pd.read_pickle('../data/CZS.pkl', compression='zip')

In [ ]:
cr_mv = pd.read_pickle('../data/CZT.pkl', compression='zip')

In [ ]:
cr_pub = pd.read_pickle('../data/CZU.pkl', compression='zip')

In [ ]:
cr_vio = pd.read_pickle('../data/CZV.pkl', compression='zip')

In [ ]:
mh_treat = pd.read_pickle('../data/HCSBHP.pkl', compression='zip')

In [ ]:
##cr_hom = pd.read_pickle('../data/HCSNVP.pkl', compression='zip')

In [ ]:
cr_hom = pd.read_pickle('../data/HCS.pkl', compression='zip')

In [21]:
df = pd.concat([unins, cr_burg, cr_drugs, cr_hom], axis = 0)

In [22]:
df

          se        g      l    a p           d           v
0   0.974375    60601    zip  UNS     2017-2021    2.577633
1   2.710101    60602    zip  UNS     2017-2021    0.000000
2   3.007506    60603    zip  UNS     2017-2021    8.156863
3   4.431748    60604    zip  UNS     2017-2021    0.727802
4   1.401819    60606    zip  UNS     2017-2021    3.790176
..       ...      ...    ...  ... ..        ...         ...
0        NaN  1714000  place  CZH          1989  742.000000
0        NaN  1714000  place  CZH          1988  660.000000
0        NaN  1714000  place  CZH          1987  687.000000
0        NaN  1714000  place  CZH          1986  744.000000
0        NaN  1714000  place  CZH          1985  666.000000

[115553 rows x 7 columns]

In [9]:
df = unins
for i in [cr_burg, cr_drugs, cr_hom]:
    df = df.merge(i,how = 'inner', on = ['g','d','p','l'])

C:\Users\Finley & Stein\AppData\Local\Temp\ipykernel_7408\2532546715.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'se_x', 'v_x', 'a_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(i,how = 'inner', on = ['g','d','p','l'])

In [10]:
df

,se_x,g,l,a_x,p,d,v_x,se_y,a_y,v_y,se_x,a_x,v_x,se_y,a_y,v_y
0,0.974375,60601,zip,UNS,,2017-2021,2.577633,NaN,CZB,31.881437,NaN,CZD,26.921440,NaN,CZH,0.464552
1,2.710101,60602,zip,UNS,,2017-2021,0.000000,NaN,CZB,3.457918,NaN,CZD,2.705715,NaN,CZH,0.065192
2,3.007506,60603,zip,UNS,,2017-2021,8.156863,NaN,CZB,9.290737,NaN,CZD,6.846238,NaN,CZH,0.364714
3,4.431748,60604,zip,UNS,,2017-2021,0.727802,NaN,CZB,6.435872,NaN,CZD,4.651703,NaN,CZH,0.242988
4,1.401819,60606,zip,UNS,,2017-2021,3.790176,NaN,CZB,16.852594,NaN,CZD,8.033903,NaN,CZH,0.322181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4934,1.188751,1714000-75,neighborhood,UNS,,2008-2012,10.913463,33.165168,CZB,1280.000000,31.129382,CZD,1126.000000,5.099020,CZH,28.000000
4935,3.029169,1714000-76,neighborhood,UNS,,2008-2012,21.847606,10.270211,CZB,130.000000,15.347293,CZD,317.000000,1.000000,CZH,1.000000
4936,1.353242,1714000-77,neighborhood,UNS,,2008-2012,19.103932,31.436902,CZB,1237.000000,28.204417,CZD,916.000000,3.773071,CZH,17.000000
4937,2.012639,1714000-9,neighborhood,UNS,,2008-2012,7.617218,9.810333,CZB,110.000000,4.177259,CZD,21.000000,0.000000,CZH,0.000000
4938,0.115232,1714000,place,UNS,,2008-2012,19.611162,NaN,CZB,25588.400000,520.823358,CZD,192673.717594,NaN,CZH,466.400000

In [8]:
cr_agg_ass.head()

   se      g    l    a p          d          v
0 NaN  60601  zip  CZA    2018-2022  66.454485
1 NaN  60602  zip  CZA    2018-2022  11.133545
2 NaN  60603  zip  CZA    2018-2022  10.292674
3 NaN  60604  zip  CZA    2018-2022   7.319068
4 NaN  60606  zip  CZA    2018-2022  22.908756

In [28]:
unins

tract-2010      47345
neighborhood     6664
zip              4990
place             160
Name: l, dtype: int64

In [29]:
cr_agg_ass['l'].value_counts()

tract-2010      15979
neighborhood     1694
zip              1276
place              72
Name: l, dtype: int64

In [32]:
treat['l'].value_counts()

place           132
neighborhood     57
Name: l, dtype: int64

In [31]:
treat = pd.read_pickle('../data/HCSBHP.pkl', compression='zip')

In [20]:
psych_distress = pd.read_pickle('../data/HCSSPDP.pkl', compression='zip')

In [21]:
psych_distress.head()

         se           g             l        a p          d          v
0  1.493571  1714000-35  neighborhood  HCSSPDP    2021-2022   3.120683
1  9.531264  1714000-37  neighborhood  HCSSPDP    2021-2022  27.763914
2  4.983833  1714000-38  neighborhood  HCSSPDP    2021-2022  13.669206
3  2.875402  1714000-39  neighborhood  HCSSPDP    2021-2022   6.371035
4  3.309448   1714000-4  neighborhood  HCSSPDP    2021-2022  10.243905

In [ ]:
distress = pd.read_pickle('../data/HCSSPDP.pkl', compression='zip')

In [6]:
opioid = pd.read_pickle('../data/MEODR.pkl', compression='zip')

1714000       132
1714000-4       2
1714000-22      2
1714000-77      2
1714000-72      2
1714000-6       2
1714000-59      2
1714000-56      2
1714000-40      2
1714000-8       2
1714000-3       2
1714000-24      2
1714000-51      2
1714000-1       2
1714000-42      2
1714000-17      2
1714000-12      2
1714000-11      2
1714000-41      2
1714000-67      1
1714000-54      1
1714000-53      1
1714000-47      1
1714000-33      1
1714000-30      1
1714000-28      1
1714000-21      1
1714000-36      1
1714000-23      1
1714000-73      1
1714000-20      1
1714000-65      1
1714000-63      1
1714000-15      1
1714000-16      1
1714000-50      1
1714000-5       1
1714000-2       1
1714000-26      1
1714000-7       1
Name: g, dtype: int64

In [7]:
HCSSPDP = pd.read_pickle('../data/HCSSPDP.pkl', compression='zip')

In [8]:
HCSSPDP

          se           g             l        a  p          d          v
0   1.493571  1714000-35  neighborhood  HCSSPDP     2021-2022   3.120683
1   9.531264  1714000-37  neighborhood  HCSSPDP     2021-2022  27.763914
2   4.983833  1714000-38  neighborhood  HCSSPDP     2021-2022  13.669206
3   2.875402  1714000-39  neighborhood  HCSSPDP     2021-2022   6.371035
4   3.309448   1714000-4  neighborhood  HCSSPDP     2021-2022  10.243905
..       ...         ...           ...      ... ..        ...        ...
0   0.763609     1714000         place  HCSSPDP  Z       2020   6.180849
0   0.841837     1714000         place  HCSSPDP  Z       2018   3.600000
0   0.484694     1714000         place  HCSSPDP  Z       2017   1.600000
0   0.663265     1714000         place  HCSSPDP  Z       2016   2.300000
0   0.561224     1714000         place  HCSSPDP  Z       2015   1.600000

[232 rows x 7 columns]

In [9]:
HDBHR = pd.read_pickle('../data/HDBHR.pkl', compression='zip')

In [14]:
HDBHR['g']

          se        g      l      a  p     d      v
58  0.816327  1714000  place  HDBHR     2017  173.3
58  0.816327  1714000  place  HDBHR     2016  174.6
57  0.816327  1714000  place  HDBHR     2014  176.3
58  0.790816  1714000  place  HDBHR     2013  161.7
58  0.867347  1714000  place  HDBHR     2012  197.9
..       ...      ...    ...    ... ..   ...    ...
0   1.862245  1714000  place  HDBHR  S  2014   96.3
0   1.811224  1714000  place  HDBHR  S  2013   90.9
0   1.938776  1714000  place  HDBHR  S  2012  103.3
0   1.887755  1714000  place  HDBHR  S  2011   98.1
0   1.938776  1714000  place  HDBHR  S  2010  102.8

[84 rows x 7 columns]